<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="white-box format-box">
        <!-- LOGIN FORM -->
        <form>
          <h2 class="format-center">Login</h2>
          <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" id="username" type="text" name="user.ers_username" placeholder="Charmander" [(ngModel)]="user.ers_username">
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="password" type="password" name="user.ers_password" placeholder="**********" [(ngModel)]="user.ers_password">
          </div>
          <br>

          <button id="login" class="form-control btn btn-success" type="submit" (click)="login()">Login</button>
        </form>
        <!-- End Login form -->
          <br><br>
        <div *ngIf="!isValid" class="alert alert-danger" id="formError">
          Wrong username and password combination
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
